.rating-page{
    .main-section{
        @include rwd-width(837px);
    }
    .sidebar{
        @include rwd-width(292px);
    }
    .post{
        position: relative;
        margin-left: rwd-width-val(68px, 822px);
        &:before{
            @include pseudo-style(50%,100%,false,false);
            margin: -23px 9px 0 0;
        }
    }
    .tags-widget-list{
        padding: 0 10px 0 0;
    }
}
.profile-sponsor-page{
    .tabs{
        width: 921px;
    }
}
.idea-page{
    .post{
        position: relative;
    }
    .post-info{
        padding-bottom: 68px;
    }
}


// /* ---------->>> MEDIA QUERIES <<<-----------*/

// /* Large Desktops */
// @media only screen and (min-width: $HD) {}

// /* Only desktops & tablets landscape */
// @media only screen and (min-width: $XGALandscape + 1) and (max-width: $HD) {}

// /* > 1024px */
// @media only screen and (max-width: $XGALandscape) {}

// /* Only tablets portrait */
// @media only screen and (min-width: $XGAPortrait + 1) and (max-width: $XGALandscape) {}

/* > 768px */
@media only screen and (max-width: $XGALandscape) {
    .h-points{
        clear: right;
        padding-right: rwd-width-val(15px);
    }
    .profile{
        @include rwd-width(253px);
    }
    .profile-sponsor-page .tabs{
        width: 100%;
    }
    // .post-author{
    //     display: none;
    // }
    .subscriptions-row{
        text-align: center;
    }
    .subscriptions-trigger{
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .subscriptions-text{
        margin-left: 0;
        padding-top: 10px;
    }
}

// /* Phones landscape */
@media only screen and (min-width: $VGA + 1) and (max-width: $XGALandscape) {
    .profile-points-num-val{
        font-size: 3em;
    }
    .points-tooltip{
        left: auto;
        right: 0;
        margin-left: 0;
    }
}

// /* > 640px */
@media only screen and (max-width: $VGA) {
    .sidebar,
    .post-tags,
    .post-date,
    .visualbar,
    .post-sponsors,
    .post-sponsorbox,
    .post-likebox{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .main-section{
        width: 100%;
        float: none;
        padding: 0 2%;
    }
    .h-points,
    .h-profile{
        @include box-sizing(border-box);
        margin: 10px auto 10px;
        width: 50%;
        float: none;
    }
    .h-profile{
        padding-top: 10px;
        clear: both;
    }
    .post{
        position: relative;

        padding: 0 0 55px 0;
        margin-bottom: 17px;
    }
    .post-content{
        margin-right: 0;
    }
    .post-info{
        position: absolute;
        bottom: 7px;
        left: 0;

        float: none;

        @include box-sizing(border-box);
        width: 100%;
        padding: 0;
    }
    .post-title{
        padding: 0;
    }
    .info-list,
    .info-list-item{
        float: right;
    }
    .info-list{
        margin: 0;
    }
    .info-list-item{
        margin: 0 26px 0 0;
        @include adjust-font-size-to(24px);
        line-height: 44px;
    }
    .post-rating{
        width: 85px;
        float: right;
        padding-right: 12px;
    }
    .post-thumbnail{
        margin-top: 0;
    }
    .post-like:before{
        @include icons(heart_grey_19x17);
    }
    .post-comment:before{
        @include icons(comment_grey_16x16);
    }
    .header{
        padding: 0;
        margin-bottom: 15px;
    }
    .add{
        float: left;
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0;
        margin: 0;
        text-align: center;
        @include adjust-font-size-to(18px);
        &:before{
            position: relative;
            top: -1px;
            left: auto;
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
            margin-right: 15px;
            @include icons(plus_white_17x18);
        }
    }
    .h-searchbox{
        margin: 0;
        width: 100%;
    }
    .search-btn,
    .search-field{
        height: 44px;
    }
    .search-field-box{}
    .search-field{
        border-width: 2px;
    }
    .logo{
        padding: 0;
        width: 127px;
        float: none;
        margin: auto;
        padding-top: 12px;
    }
    .idea-page .post-info{
        padding-bottom: 0;
    }
    .popupper-add{
        top: 39px!important;
        left: 0;
        margin-left: 0;
        width: 100%;
    }
    .popupper-close{
        left: auto;
        right: 0;
    }
    .popupper-add-anonim{
        margin-bottom: 20px;
    }
    .popupper-add-anonim,
    .popupper-add-f-btn{
        width: 100%;
    }
    .popupper-add-f-btn{
        height: 49px;
        @include adjust-font-size-to(16px);
    }
    .popupper-form{
        padding: 13px;
    }
    .posts-blocks{
        .post{
            width: 100%;
            padding: 0 0 43px 0;
            margin-bottom: 17px;
        }
        .info-list{
            margin-top: 0;
        }
        .post-thumbnail{
            margin-top: 0;
            @include rwd-width(126px, 765px);
        }
        .post-content{
            margin: 0 10px 0 rwd-width-val(147px, 765px);
        }
        .post-info{
            bottom: 0;
        }
        .post-title{
            margin: 0;
        }
    }
    .profile-pic{
        width: 50%;
        float: none;
        margin: auto;
        padding-bottom: 15px;
    }
    .profile-infobox{}
    .profilebox-content{
        margin-left: 0;
    }
    .post-comment-bl{
        padding-top: 25px;
    }
    .notificare{
        top: 0;
        left: 0;
    }
    .profile-avatar{
        text-align: center;
    }
}

/* Small phones */
// @media only screen and (max-width: $QVGA) {

// }

@media only screen and (max-width: $HVGA) {
    .profile-infobox{
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .profilebox-content{
        margin-right: 0;
    }
    .sortbar-item{
        width: 100%;
        padding: 10px 0;
    }
    .prifile-tab .tabs .tab{
        font-size: 10px;
    }
    .h-points,
    .h-profile{
        @include box-sizing(border-box);
        width: 100%;
        padding-left: 2%;
        padding-right: 2px;
    }
    .profile-logout{
        margin-left: 0;
    }
    .profile-tooltip{
        &:before{
            left: 20px;
        }
    }
}
